/* The css file for the GUI. This file is necessary since it disables backspacing. 
*	Author: Prangon Das (pcd3897@g.rit.edu)
*/

@binding-set stopBackspace
{
  unbind "BackSpace";
}


#textview2
{
  gtk-key-bindings: stopBackspace;
}


#textview2{
	font-size: 12px;
}

#scrll{
		border-width: 7px;
		border-color: blue;
		border-style: groove;
}
