@binding-set stopBackspace
{
  unbind "BackSpace";
}


#textview2
{
  gtk-key-bindings: stopBackspace;
}


#textview2{
	font-size: 12px;
}

#scrll{
		border-width: 7px;
		border-color: blue;
		border-style: groove;
}
